.navbar {
    background-color: #6a1b9a; /* Color morado */
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .navbar ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .navbar li {
    margin: 0 15px;
  }
  
  .navbar a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .navbar a:hover {
    color: #f1f1f1; /* Cambio de color al pasar el mouse */
  }
  